<div id="click-to-schedule">
  <script src="//cdn.timetrade.com/scripts/lightbox/latest/lightbox.js"></script>

  <div class="button-box" style="border: 1px solid rgb(219, 219, 219); display: block; margin: auto; padding: 10px 15px; background-color: transparent; background-image: none; width: 350px; height: 140px; background-size: 305px 139px; background-position: initial initial; background-repeat: no-repeat no-repeat;">
    <div class="title1" style="color: rgb(129, 167, 217); font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 24px; text-align: center;">
      Schedule a time
    </div>
    <div class="title2" style="color: rgb(136, 136, 136); font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 24px; text-align: center;">
      to chat with me
    </div>

    <a href="https://www.timetrade.com/book/4JPRG?sh=1" onclick="return tt.launchWorkflow(this)" target="_blank">
      <img src="//cdn.timetrade.com/images/ButtonBuilder/1.0/button-9ce22d-long-medium.png" alt="Click to Schedule an Appointment" border="0" style="display: block; margin: 10px auto auto; padding: 0px; background-image: none; background-attachment: scroll; background-color: transparent; background-position: 0% 0%; background-repeat: repeat repeat;">
    </a>
  </div>
</div>
