<form action="https://docs.google.com/forms/d/1i8jQvCTEzALLyoYGKZ8qLw5hhidZoerbOhqQzskThDY/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
  <input type="hidden" name="draftResponse" value="[,,&quot;8149367189274765162&quot;]" />
  <input type="hidden" name="pageHistory" value="0" />
  <input type="hidden" name="fbzx" value="8149367189274765162" />

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Schedule a chat</h4>
      </div>
      <div class="modal-body">

<div class="form-group">
Request time to chat (10am - 10pm US EST, excluding holidays)<br />
<select name="entry.2134257345_month" class="ss-month-dropdown" id="entry.2134257345_month" aria-label="Month" aria-required="true"><option value="">Month</option>
<option value="1">January</option> <option value="2">February</option> <option value="3">March</option> <option value="4">April</option> <option value="5">May</option> <option value="6">June</option> <option value="7">July</option>
<option value="8">August</option> <option value="9">September</option> <option value="10">October</option> <option value="11">November</option> <option value="12">December</option>
</select>

<select name="entry.2134257345_day" class="ss-day-dropdown" id="entry.2134257345_day" aria-label="Day of month" aria-required="true"><option value="">Day</option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option>
<option value="8">8</option> <option value="9">9</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option>
<option value="15">15</option> <option value="16">16</option> <option value="17">17</option> <option value="18">18</option> <option value="19">19</option> <option value="20">20</option> <option value="21">21</option>
<option value="22">22</option> <option value="23">23</option> <option value="24">24</option> <option value="25">25</option> <option value="26">26</option> <option value="27">27</option> <option value="28">28</option>
<option value="29">29</option> <option value="30">30</option> <option value="31">31</option>
</select>

<select name="entry.2134257345_hour" id="entry.2134257345_hour" aria-label="Hour" aria-required="true"><option value="">Hr</option>
<option value="01">01</option> <option value="02">02</option> <option value="03">03</option> <option value="04">04</option> <option value="05">05</option> <option value="06">06</option> <option value="07">07</option>
<option value="08">08</option> <option value="09">09</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option>
</select>
:
<select name="entry.2134257345_minute" id="entry.2134257345_minute" aria-label="Minute" aria-required="true"><option value="">Min</option>
<option value="00">00</option> <option value="15">15</option> <option value="30">30</option> <option value="45">45</option>
</select>

<select name="entry.2134257345_ampm" aria-label="AM or PM"><option value="AM">AM</option>
<option value="PM">PM</option>
</select>
</div>

<div class="form-group">
  <input placeholder="Your name" type="text" name="entry.911362954" value="" class="form-control" id="entry_911362954" dir="auto" aria-label="Name  " aria-required="true" required="" title="">
</div>

<div class="form-group">
  <input placeholder="Email address" type="email" name="entry.2082877936" value="" class="form-control" id="entry_2082877936" dir="auto" aria-label="Email Addresss  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
</div>

<div class="form-group">
  <input placeholder="Skype username" type="text" name="entry.1634527522" value="" class="form-control" id="entry_1634527522" dir="auto" aria-label="Skype Username This is the name you created with your Skype account " aria-required="true" required="" title="">
</div>

<div class="form-group">
  <input placeholder="Genre (optional)" type="text" name="entry.138913304" value="" class="form-control" id="entry_138913304" dir="auto" aria-label="Genre optional " title="">
</div>

<div class="form-group">
  <input placeholder="Current word count (optional)" type="number" name="entry.1105504838" value="" class="form-control" id="entry_1105504838" dir="auto" aria-label="Current Word Count optional Must be a number" step="any" title="Must be a number">
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
