---
---

$bgcolor:     #f1ede4;
$fgcolor:     #c2c0bc;
$navcolor:    lighten(#a5473a, 20%);
$bordercolor: rgba(255, 255, 255, 0.2);

* {
  font-family: 'Raleway', sans-serif !important;
}

.blog-content img {
  width: 100%;

  &.post-avatar {
    width: auto;
  }
}

.sidebar {
  background-color: $bgcolor;
}

.brand-title {
  color: $fgcolor;
}

a.pure-button {
  color: $navcolor;
  border-color: $bordercolor;

  &:hover {
    border-color: $bordercolor;
  }
}

.home-menu {
  &.pure-menu-open {
    background-color: $bgcolor;
  }

  li a {
    color: $navcolor;

    &:hover,
    &:focus {
      color: #a5473a;
    }
  }

  .pure-menu-heading {
    color: $fgcolor;
  }
}

.splash-container {
  background: url(/assets/images/bc-new.jpg) no-repeat center right;
  background-size: cover;
}

.splash-head {
  border-color: $bordercolor;
  margin-bottom: 0;
}

.splash-subhead {
  margin-top: 0;
  background-color: $bordercolor;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
}
